/_node_modules
/node_modules
/public/hot
/public/storage
/public/documentation
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/temp
/db-dumps
/database/dumps
/public/.htaccess
package-lock.json
composer.phar
.idea
composer.json
composer.lock
/videos
twilio.txt
*.log
*.rar
*.zip
*.bak
*.bak2
*.csv
*.xlsm
*.xlsx

