a,
a:focus,
a:hover {color: #fff;}

.btn-default,
.btn-default:hover,
.btn-default:focus {color: #333; text-shadow: none; background-color: #fff; border: 1px solid #fff;}

html,
body {height: 100%; background-color: #e8e8e8;}
body {color: #333; text-align: center;}

.site-wrapper {display: table; width: 100%; height: 100%; min-height: 100%;}
.site-wrapper-inner {display: table-cell; vertical-align: top;}
.cover-container {margin-right: auto; margin-left: auto;}

.masthead {display: none;}
.mastfoot {color: #999;}

.inner {padding: 30px;}

.masthead-brand {margin-top: 10px; margin-bottom: 10px;}
.masthead-img {border: 2px solid white; box-shadow: 0 0 10px 2px rgba(0,0,0,0.3); border-radius: 100px; background-color: #262626;}

.inner .well {box-shadow: 0 0 50px -20px rgba(0,0,0,0.1); color: #262626; text-align: left; text-shadow: none; background-color: #fff; border-radius: 10px;}
.cover {padding: 0 20px;}
.cover .btn-lg {padding: 10px 20px; font-weight: bold;}

.intro h4 {margin: 0 0 30px; text-align: center; font-size: 30px;}
.intro .buttons {display: flex; flex-flow: row wrap; justify-content: center;}
.intro .buttons a {margin: 0 10px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; font-size: 16px; padding: 8px 20px;}
.intro .buttons a img {margin-right: 10px;}

@media (min-width: 768px) {
    .masthead-brand {float: right;}
    .masthead-img {float: left;}
}
@media (min-width: 768px) {
    .masthead {margin-bottom: 30px;}
    .mastfoot {}
    .site-wrapper-inner {vertical-align: middle;}
    .masthead,
    .mastfoot,
    .cover-container {width: 100%;}
}
@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {width: 700px;}
}
