/* Typography */

html {font-family: 'Roboto', sans-serif;}

@media (min-width: 576px) {
	html {font-size: 14px;}
}

@media (min-width: 768px) {
	html {font-size: 16px;}
}

@media (min-width: 992px) {
	html {font-size: 18px;}
}

@media (min-width: 1200px) {
	html {font-size: 20px;}
}


/* Custom Styles */

main {display: flex; flex-direction: column; min-height: 100vh; justify-content: center; padding: 0 30px; text-align: center;}

.auth-form {background-color: #fff; margin: auto; padding: 22px 80px 26px; border: 1px solid #dddfe2; border-radius: 3px; text-align: center; color: #333; max-width: 496px;}
.auth-form h1 {padding: 18px 0; font-size: 18px; font-weight: bold; line-height: 22px;}

.form-control.is-valid, .validated .form-control:valid {
	border-color: #28a745;
	padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-invalid, .validated .form-control:invalid {
	border-color: #dc3545;
	padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}