$break-medium: 768px;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.trans_me,
.trans_all,
.trans_all *{outline:none;transition:all .2s ease;-moz-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;}
.trans_me_slow,
.trans_all_slow,
.trans_all_slow *{outline:none;transition:all .4s ease;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-ms-transition:all .4s ease;-o-transition:all .4s ease;}
.trans_none{transition:none;-moz-transition:none;-webkit-transition:none;-ms-transition:none;-o-transition:none;}
.trans_none_all,
.trans_none_all *{transition:none;-moz-transition:none;-webkit-transition:none;-ms-transition:none;-o-transition:none;}

body {font-family: 'Open sans', 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;}

@media all and (min-width: 768px){
  .container.liquid {max-width: 750px; width: auto;}
}
@media all and (min-width: 992px){
  .container.liquid {max-width: 970px; width: auto;}
}
@media all and (min-width: 1200px){
  .container.liquid {max-width: 1170px; width: auto;}
}

.content-layout {min-height: calc(100vh - 100px); display: flex;}

.m-0 {margin: 0 !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-30 {margin-bottom: 30px !important;}
.me-10 {margin-right: 10px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-30 {margin-top: 30px !important;}
.me-20 {margin-right: 20px !important;}
.ms-20 {margin-left: 20px !important;}

.d-none {display: none !important;}
.d-block {display: block !important;}
.d-flex {display: flex !important;}
.flex-row {flex-direction: row !important;}
.flex-col {flex-direction: column !important;}
.flex-nowrap {flex-wrap: nowrap !important;}
.justify-space-between {justify-content: space-between !important;}
.justify-content-center {justify-content: center !important;}
.align-items-start {align-items: flex-start !important;}
.align-items-end {align-items: flex-end !important;}
.align-items-center {align-items: center !important;}
.flex-1 {flex: 1 !important;}
.w-full {width: 100%;}
.h-full {height: 100%;}

.min-w-100 {min-width: 100px;}
.min-w-130 {min-width: 130px;}
.min-w-150 {min-width: 150px;}
.max-w-300 {max-width: 300px;}
.max-w-500 {max-width: 500px;}
.max-w-600 {max-width: 600px;}
.max-w-700 {max-width: 700px;}

.fw-normal {font-weight: normal !important;}

.main-footer {height: 50px; text-align: center}
.wrapper {min-height: 100vh !important;}
.navbar-laravel {background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);}
.content-wrapper {padding: 15px 0; min-height: auto !important; width: 100%; margin: 0; /*overflow-x: auto;*/}
.repeater-row, .domain-repeater-row {width: 100%; clear: both; margin-bottom: 20px;}
.repeater-row .form-control {float: left; width: 16%; display: inline-block;}
.repeater-row.cols-7 .form-control {width: 13.5%;}
.repeater-delete-row {float: left; width: 3%; display: inline-block; cursor: pointer;}
.repeater-delete-row {padding: 10px 10px;}
.domain-repeater-row .form-control {float: left; width: 95%; display: inline-block;}
.error-text {color: #f00;}
.error-repeater-row {border: red 1px solid;}
.error-repeater-message {position: absolute; left: 16px; height: 20px; margin-top: 35px; color: red;}
.error-repeater-message-hide {display: none;}
.icon-delete {cursor: pointer; color: red;}
.main-sidebar.visible {-webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0);}
.bg-inactive {background: #ccc;}
.ql-container {min-height: 150px;}
input[type="checkbox"],
input[type="radio"] {margin: 10px 0 11px;}
textarea {resize: vertical;}

.skin-blue .content-header {overflow: hidden; padding: 0 15px;}

.time,
.mins,
.meridian {width: 25%; float: left; margin: 0 4%; font-size: 20px; color: #2d2e2e; font-family: arial; font-weight: 700;}

#mapid { height: 350px; }

.my-leaflet-map-container img {max-height: none;}

.content-inner h1 {margin: 0;}

.p-lr-15 {padding-left: 15px; padding-right: 15px;}
table.scenario-params th,
table.scenario-params td {padding: 5px;}
table.scenario-params hr {margin: 5px 0;}
table.scenario-params label {font-weight: normal;}

.col-max-width-650 {width: 100%; max-width: 650px; padding-left: 15px; padding-right: 15px;}

.flex-row {display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;}
.flex-row.row {margin: 0 -10px 5px;}
.flex-row.row [class^="col-"] {height: 100%; padding: 0 10px;}
.flex-row.row label {}

.pr {position: relative;}

.js_ajax_message {position: absolute; z-index: 9999; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(255,255,255,0.8); padding: 15px; line-height: 97vh; text-align: center; font-size: 20px; display: none;}
.loader {background-image: url(/img/loader_tr.gif); background-repeat: no-repeat; background-position: center 47%; background-size:auto; vertical-align:middle;}
.loader2 {background: rgba(255, 255, 255, 0.5) url(/img/loader_tr.gif) no-repeat center; position: fixed; z-index: 100; left: 0; top: 0; right: 0; bottom: 0;}
.loader2:not(.show) {display: none;}

.btn {border-width: 0 !important;}
.btn-group.flex.text-nowrap > .btn {float: none;}
.btn-group.flex {white-space: nowrap; display: flex; justify-content: flex-end;}
.btn-group.flex .btn:not(:first-child) {border-left-width: 1px !important;}
.btn-group.flex .btn + .btn {margin: 0;}

.custom-table .lang-flag {margin-right: 5px;}

.mce-notification-warning {display: none;}

.skin-blue .sidebar-menu hr {border-color: #3e525c;}

.nav-tabs-custom {margin-bottom: 20px; background: transparent; box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1); border-radius: 3px;}

.nav-tabs-custom.layout {padding: 0 15px; margin: 0; box-shadow: none;}
.nav-tabs-custom.layout > .tab-content {padding: 15px;}
.nav-tabs-custom.layout .content-header {padding: 0;}
.nav-tabs-custom.layout .content {padding: 15px 0 0;}
.nav-tabs-custom.layout .content.scroll-h {overflow-x: auto; width: 100%;}
.nav-tabs-custom.layout .content.scroll-h table {margin: 0;}

.box-body.scroll-h {overflow-x: auto;}

.dataTables_wrapper .dataTables_filter input {border-radius: 0; box-shadow: none; padding: 4px 10px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #d2d6de;}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.repeater-row, .domain-repeater-row {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
.repeater-row .form-control {
  float: left;
  width: 16%;
  display: inline-block;
}
.repeater-delete-row {
  float: left;
  width: 3%;
  display: inline-block;
  cursor: pointer;
}
.repeater-delete-row {
  padding: 10px 10px;
}
.domain-repeater-row .form-control {
  float: left;
  width: 95%;
  display: inline-block;
}
.error-repeater-row {
  border: red 1px solid;
}
.error-repeater-message {
  position: absolute;
  left: 16px;
  height: 20px;
  margin-top: 35px;
  color: red;
}
.error-repeater-message-hide {
  display: none;
}
.quiz-line-position {
  width: 2%;
  float: left;
  display: inline-block;
  padding-top: 8px;
 }
.quiz-answer {
  float: left;
  width: 80% !important;
  display: inline-block;
}
.quiz-correct-answer {
  margin-top: 10px !important;
  margin-left: 30px !important;
}
.icon-delete {
  cursor: pointer;
  color: red;
}
.main-sidebar.visible {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.bg-inactive {
  background: #ccc;
}
.ql-container {
  min-height: 150px;
}

.btn-custom-group {
  display: flex;
}

.btn-custom {
  border-radius: 0px;
}

.btn-right-custom {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input[type="checkbox"], input[type="radio"] {
  margin: 10px 0 11px;
}
.sidebar-toggle {
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}
@media screen and (min-width: $break-medium) {
  .main-sidebar {position: relative !important; flex: 0 0 230px; padding-top: 0;}
}

@media screen and (max-width: 767px) {
  .content-layout {min-height: calc(100vh - 150px); display: flex;}
  .main-sidebar {padding-top: 100px; overflow-y: auto; height: 100%;}
  .table-responsive td {white-space: normal; word-wrap: anywhere; word-break: break-word;}
  table td .btn-group .btn + .btn {float: none !important;}
}

table {margin-bottom: 0;}

.user-panel {display: flex; flex-flow: column nowrap; align-items: center;}
.user-panel > .info {position: initial; left: auto; line-height: normal; padding: 5px; width: 100%;}

.smishing-table {border-collapse: unset;}
.smishing-table .image-col img {width: 100px; height: 100px; margin-right: 20px;}
.smishing-table .content-col {width: 100%;}
.smishing-table .date-col {white-space: nowrap;}
.smishing-table .private {background-color: #ffffef; position: relative;}
.smishing-table .private:after {content: "MY COMPANY TEMPLATE"; position: absolute; right: 8px; bottom: 8px; z-index: 1; color: #ffffef; font-size: 11px; padding: 2px 8px 4px; border-radius: 4px; background-color: rgba(0,0,0,0.5);}
.smishing-table .private td {}

.smishing-grid {display: flex; flex-flow: row wrap; justify-content: start;}
.smishing-grid .wrap {padding: 15px; width: 16.6%;}
.smishing-grid .inner {display: flex; flex-flow: column nowrap; align-items: center; background-color: #fff; text-align: center; position: relative; border: 1px solid #fff; height: 100%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); border-radius: 4px; padding: 16px;}
.smishing-grid .private .inner {background-color: #ffffef;}
.smishing-grid .wrap:hover .inner {box-shadow: 0 20px 30px -40px rgba(0, 0, 0, 0.5); border-color: #eee;}
.smishing-grid .mark {display: block; font-size: 9px; font-weight: bold; background-color: #999; color: #fff; border-radius: 4px 0 0 0; padding: 3px 6px; position: absolute; z-index: 1; left: 0; top: 0;}
.smishing-grid .private .mark {background-color: #EFBA00;}
.smishing-grid .inner img {height: 100px; width: 100px; margin-top: 5px; border-radius: 4px;}
.smishing-grid .inner hr {height: 0; width: 100%; max-width: 190px; margin: 15px auto; border-top: 1px solid #f3f3f3;}
.smishing-grid .inner h2 {font-weight: 700; font-size: 18px; line-height: normal; color: #000; margin: 0 0 15px;}
.smishing-grid .template-content {background-color: #fff; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); border-radius: 4px 4px 0 0; width: 100%; position: absolute; z-index: 2; top: 0; bottom: 80px; padding: 14px 18px; text-align: left;}
.smishing-grid .private .template-content {background-color: #ffffef;}
.smishing-grid .template-content:not(.show) {display: none;}
.smishing-grid .template-content .header {padding-bottom: 10px; margin-bottom: 16px; border-bottom: 1px solid #F6F6F6;}
.smishing-grid .template-content .btn-close {display: block; width: 20px; height: 20px; background: transparent url(/img/x.svg) no-repeat center / cover;}
.smishing-grid .template-content h3 {margin: 0; max-width: 170px; font-weight: 700; font-size: 14px; line-height: normal; text-transform: uppercase; color: #bbb;}
.smishing-grid .template-content p {margin: 0; font-size: 12px; line-height: normal;}
.smishing-grid .inner .buttons {margin-bottom: 10px;}
.smishing-grid .inner .buttons a {display: flex; align-items: center; justify-content: center; flex-flow: row nowrap; margin-right: auto; margin-left: auto; line-height: 1; text-align: center; border-radius: 4px;}
.smishing-grid .inner .buttons i {display: inline-block; background-size: contain; background-position: center; background-repeat: no-repeat;}
.smishing-grid .inner .btn-cinfo {background-color: transparent; box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); font-weight: 400; font-size: 12px; border: 1px solid #ddd; color: #999; margin-bottom: 20px; padding: 6px 11px;}
.smishing-grid .inner .btn-cinfo i {width: 15px; height: 15px; margin-left: 8px; background-image: url(/img/info-circle-1.svg);}
.smishing-grid .inner .btn-select {background-color: #00C0EF; box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); font-weight: 700; font-size: 16px; text-transform: uppercase; color: #FFF; padding: 10px 25px;}
.smishing-grid .inner .btn-select i {width: 17px; height: 16px; margin-right: 8px; background-image: url(/img/cursor-left.svg);}
.smishing-grid .inner .btn-select:hover {box-shadow: none;}
.smishing-grid .inner .btn-select:focus {box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);}
.smishing-grid .private .inner .btn-select {background-color: #EFBA00; color: #000;}
.smishing-grid .private .inner .btn-select i {background-image: url(/img/cursor-left-black.svg);}
@media all and (max-width: 1600px){
  .smishing-grid .wrap {width: 20%;}
}
@media all and (max-width: 1366px){
  .smishing-grid .wrap {width: 25%;}
}
@media all and (max-width: 1200px){
  .smishing-grid .wrap {width: 33.33%;}
}
@media all and (max-width: 991px){
  .smishing-grid .wrap {width: 50%;}
}
@media all and (max-width: 499px){
  .smishing-grid .wrap {width: 100%;}
}

.custom-table-data .toolbar {display: flex; flex-flow: row-reverse; justify-content: space-between;}
.dataTables_year {float: left; margin-left: 20px;}

.dataTables_wrapper .dataTables_paginate .paginate_button {width: auto; background-image: none;}

.ajaxdata.table thead th.js_sorting {padding-right: 20px; cursor: pointer; background-image: url(/img/sort-reset.svg); background-repeat: no-repeat; background-position: right 4px center; background-size: auto 14px;}
.ajaxdata.table thead th.sort-reset {background-image: url(/img/sort-reset.svg);}
.ajaxdata.table thead th.sort-desc {background-image: url(/img/sort-desc.svg);}
.ajaxdata.table thead th.sort-asc {background-image: url(/img/sort-asc.svg);}
.ajaxdata.table tbody tr td {border-left: 1px solid #f4f4f4; border-right: 1px solid #f4f4f4;}
.ajaxdata.table tbody tr td:first-child {border-left: 0;}
.ajaxdata.table tbody tr td:last-child {border-right: 0;}

.chart-result {width: 700px; height: auto; position: absolute; z-index: -1; left: 0; top: 0; opacity: 0;}

.highlight {border: #ff0088 1px solid;}

#js_course_form .btn-next {pointer-events: auto;}
#js_course_form .btn-next[disabled] {pointer-events: none;}
#js_course_form img {max-width: 100%; height: auto;}

.finish .text {font-size: 18px; margin-bottom: 30px;}
.finish .icon {font-size: 90px;}
.finish .icon.ok {color: #06eaaa;}
.finish .icon.fail {color: #ee0070;}
.finish .score-value {font-size: 50px; font-weight: bold; line-height: 1; margin-top: 10px;}
.finish .score-text {font-size: 20px;}

table.dataTable {width: 100% !important;}

.list-group.terms {padding: 0; margin: 0 0 30px; list-style: none;}
.list-group.terms .list-group-item {position: relative; display: flex; justify-content: space-between; align-items: center; flex-flow: row nowrap; padding: 10px 0; margin: 0; background-color: #fff; border: 0; border-bottom: 1px solid #ddd; border-radius: 0;}
.list-group.terms .list-group-item .col {padding: 0 15px;}
.list-group.terms .list-group-item input[type="text"] {width: 100%;}

.row-group-item {position: relative; display: flex; justify-content: space-between; align-items: flex-start; flex-flow: column nowrap; padding: 10px 0; margin: 0; background-color: #fff; border: 0; border-bottom: 1px solid #ddd; border-radius: 0;}
.row-group-item h4 {display: block; width: 100%; font-weight: normal;}
.row-group-item label {font-weight: normal; white-space: nowrap;}
.row-group-item label input {margin: 0;}

.navbar-nav > .user-menu > .dropdown-menu {box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); border-radius: 4px 0 4px 4px; background-color: #fff; padding: 0;}
.navbar-nav > .user-menu > .dropdown-menu li {border-top: 1px solid #eee;}
.navbar-nav > .user-menu > .dropdown-menu li a {padding: 0;}
.navbar-nav > .user-menu > .dropdown-menu li .link {text-align: left; display: block;}
.navbar-nav > .user-menu > .dropdown-menu li .link,
.navbar-nav > .user-menu > .dropdown-menu li.user {padding: 15px 25px;}
.navbar-nav > .user-menu > .dropdown-menu li.user {display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center; border: 0;}
.navbar-nav > .user-menu > .dropdown-menu li.user img {width: 50px; height: auto;}
.navbar-nav > .user-menu > .dropdown-menu li.user .info {flex: 1; padding-left: 20px;}
.navbar-nav > .user-menu > .dropdown-menu li.user a:hover {background-color: transparent;}
.navbar-nav > .user-menu > .dropdown-menu li.user a,
.navbar-nav > .user-menu > .dropdown-menu li.user .info small {display: block;}
.navbar-nav > .user-menu > .dropdown-menu li.user .info small {font-size: 80%;}

body.training-body {min-height: 100vh !important; height: 100% !important;}
body.training-body .site-wrapper {display: block;}
body.training-body .site-wrapper .site-wrapper-inner {display: flex; flex-flow: column; justify-content: center; align-items: center; height: 100%; min-height: 100vh;}
body.training-body .site-wrapper .site-wrapper-inner .cover-container {display: flex; flex-flow: column nowrap; height: 100%; min-height: 100vh}
body.training-body .site-wrapper .site-wrapper-inner .cover-container .inner.cover {flex: 1; display: flex; flex-direction: column; justify-content: center;}

